* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ============================
        GENERAL STYLES
#fff Color
#385470 Searchbar
#102130 Cards, Items
#040F14 Background
#FF4654 Buttons
=============================== */

body {
  background: #040F14;
  color: #fff;
}

.searchbar {
  background: #385470;
  padding: 5vh 10%;
  border-radius: 50px;
}

button,
a {
  font-family: Impact;
  background: #FF4654;
  text-decoration: none;
  color: #fff;
  border: none;
  padding: 1vh 10%;
  border-radius: 10px;
}

.buttonShowMore {
  width: 10%;
  margin: 0 75%;
}

.title {
  text-align: left;
}

h1 {
  font-size: 2em;
  margin: 0 0 5vh 10%;
}

h2 {
  font-family: Impact;
  font-size: 1.5em;
  margin: 0 0 5vh 10%;
}

h3 {
  margin-bottom: 5vh;
}

/* ============================
        HEADER
=============================== */

header {
  height: 5vh;
  background: #040F14;
}

/* ============================
        GAME ITEM
=============================== */

.GameItem {
  border-radius: 50px;
  background: #102130;
}

/* Container */
.gameItemGrid {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.gridItem {
  /* grid-area: 'A'; */
}

.gameCard img {
  width: 100%;
  border-radius: 20px;
  margin-bottom: 3vh;
}

.gameCard {
  margin: 0 0 5vh 10%;
  background: #102130;
  width: 20%;
  object-fit: cover;
  border-radius: 25px;
  grid-column-start: 1;
  grid-column-end: 2;
}

.cardBody {
  font-family: Arial;
  margin: 0 0 5vh 10%;
}

/* Description */
.cardBody p {
  margin-bottom: 5vh;
  padding-right: 10%;
}

/* Read More */
.cardButton {
  /* margin-left: 25%; */
}

/* Card Bottom */
.bottomIcons {
  border-top: 1px solid #fff;
  margin: 0 10%;
}

.cardPlattform {
  border: 1px solid #FF4654;
  border-radius: 7px;
  display: inline;
  font-family: Impact, sans-serif;
}

.cardPlattform img {
  margin: 2vh 10%;
}

.cardGenre {
  border: 1px solid #FF4654;
  border-radius: 7px;
  display: inline;
  margin-left: 2%;
  font-family: Impact, sans-serif;
}

/* ============================
    TOP 4 GAMES FOR BROWSER
=============================== */

.top4BrowserGrid {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

/* ============================
    TOP 4 GAMES FOR PC
=============================== */

.top4PCGrid {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

/********************************* 
            GENERALS
*********************************/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* ******************************** 
              top
******************************** */

.Navigation>section {
  margin: 0 auto 0 5vw;
  position: fixed;
  right: 0;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Navigation>section img:nth-of-type(1) {
  margin: auto 30px;
}

.form input {
  display: inline-block;
  margin: auto 30px;
  line-height: 3.5rem;
  border: none;
  border-radius: 12px;
  width: 23vw;
  color: white;
  padding-left: 10px;
  background-color: #375470;
  background-image: url('./img/Search.png');
  background-size: initial;
  background-repeat: no-repeat;
  background-position: right;
  background-position-x: 90%;
}

/* .form input::placeholder {
  margin: 0 0 0 200px;
} */


/* ******************************** 
              NAV
******************************** */

.relativeParent {
  position: relative;
}

.nav {
  position: fixed;
  min-width: 80px;
  width: 5vw;
  height: 100vh;
  background-color: black;
  border-right: 1px solid white;
}

.flexColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.burger {
  margin: 10px 0 15vh 0;
}

.burger:hover {
  cursor: pointer;
}

.burgerMeat {
  background-color: white;
  height: 3px;
  width: 3vw;
  border-radius: 5px;
  margin: 7px;
}


.redButton {
  background-color: #FF4654;
  border-radius: 15px;
  height: 50px;
  margin: 5vh auto 5vw 0;
}

.blackButton {
  background-color: black;
  border-radius: 15px;
  padding: 0 0 0 0;
  margin: 5vh auto 5vw 0;
}

/* **************************
          hideNav
************************** */
.redButtonHide {
  background-color: #FF4654;
  border-radius: 15px;
  padding: 0 15px 0 0;
}

.relativeParent>section {
  padding-left: 10px;
  min-width: 250px;
  width: 17vw;
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.slideMenu {
  height: 100vh;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  margin-left: 5px
}

.noSlideMenu {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: -250px;
}

.hideNav {
  width: 17vw;
  height: 100vh;
  background-color: black;
}

.flexColumnHide {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.rightX {
  color: white;
  font-size: 40px;
  margin: 0 0 15vh 14vw;
  /*  14vw */
}

.rightX:hover {
  cursor: pointer;
}

.hideSideLinks>a {
  text-decoration: none;

  color: white;
  font-size: 24px;
  height: 50px;
  margin: 5vh auto 5vw 0;
  display: flex;
  justify-content: center;
  align-items: center;
}