* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ============================
        GENERAL STYLES
#fff Color
#385470 Searchbar
#102130 Cards, Items
#040F14 Background
#FF4654 Buttons
=============================== */

body {
  background: #040F14;
  color: #fff;
  font-family: Impact, sans-serif;
}

.searchbar {
  background: #385470;
  padding: 5vh 10%;
  border-radius: 50px;
}

button {
  background: #FF4654;
  padding: 5vh 10%;
  border-radius: 50px;
  text-align: center;
}

.thumbnail {
  width: 100%;
  object-fit: cover;
}

.title {
  text-align: left;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1em;
}