/********************************* 
            GENERALS
*********************************/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/********************************* 
              NAV
*********************************/
nav {
  width: 5vw;
  height: 100vh;
  background-color: black;
}

nav section {
  padding: 10px 0;
}

nav section div {
  background-color: white;
  height: 5px;
  width: 3vw;
  border-radius: 5px;
  margin: 7px;
}